In [39]:
import numpy as np
import pandas as pd

In [40]:
df=pd.DataFrame(
    np.arange(25).reshape(5,5),
    index=["Row1","Row2","Row3","Row4","Row5"],
    columns=["Column1","Column2","Column3","Column4","Column5"]
)

In [41]:
df.head()

      Column1  Column2  Column3  Column4  Column5
Row1        0        1        2        3        4
Row2        5        6        7        8        9
Row3       10       11       12       13       14
Row4       15       16       17       18       19
Row5       20       21       22       23       24

In [42]:
df.loc["Row1"]

Column1    0
Column2    1
Column3    2
Column4    3
Column5    4
Name: Row1, dtype: int32

In [43]:
type(df.loc["Row2"])

pandas.core.series.Series

In [44]:
df.iloc[:,:]

      Column1  Column2  Column3  Column4  Column5
Row1        0        1        2        3        4
Row2        5        6        7        8        9
Row3       10       11       12       13       14
Row4       15       16       17       18       19
Row5       20       21       22       23       24

In [45]:
df.iloc[2:,:]

      Column1  Column2  Column3  Column4  Column5
Row3       10       11       12       13       14
Row4       15       16       17       18       19
Row5       20       21       22       23       24

In [46]:
type(df.iloc[2:,:])

pandas.core.frame.DataFrame

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Row1 to Row5
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  5 non-null      int32
 1   Column2  5 non-null      int32
 2   Column3  5 non-null      int32
 3   Column4  5 non-null      int32
 4   Column5  5 non-null      int32
dtypes: int32(5)
memory usage: 312.0+ bytes

In [48]:
df.values

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [49]:
df["Column1"].value_counts()

Column1
0     1
5     1
10    1
15    1
20    1
Name: count, dtype: int64

In [50]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
Column5    0
dtype: int64

In [51]:
type(df[["Column1","Column2"]])

pandas.core.frame.DataFrame

In [52]:
df[["Column1","Column2"]]

      Column1  Column2
Row1        0        1
Row2        5        6
Row3       10       11
Row4       15       16
Row5       20       21

In [53]:
df["Column1"].unique()

array([ 0,  5, 10, 15, 20])

In [57]:
df=pd.read_csv('mercedesbenz.csv')

In [58]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [61]:
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [82]:
df['X0'].value_counts()

X0
z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
aq     18
am     18
i      18
u      17
aw     16
l      16
ad     14
au     11
k      11
b      11
r      10
as     10
bc      6
ao      4
c       3
aa      2
q       2
ac      1
g       1
ab      1
Name: count, dtype: int64

In [85]:
y_more_10=df[df['y']>10]

In [71]:
test=pd.read_csv('Test.csv')

In [72]:
test.head()

   Unnamed: 0 col1  col3
0           0    x     1
1           1    a     2
2           2    c     3

In [74]:
pd.read_csv('a.csv')

  ;col1;col3
0      0;x;1
1      1;a;2
2      2;c;3

In [75]:
pd.read_csv('a.csv',sep=';')

   Unnamed: 0 col1  col3
0           0    x     1
1           1    a     2
2           2    c     3

In [76]:
pd.read_csv('a.csv',sep=';',index_col=0)

  col1  col3
0    x     1
1    a     2
2    c     3

In [91]:
from io import StringIO,BytesIO

In [95]:
csv_str = "Col1,Col2,Col3\n1,2,3\n4,5,6\n7,8,9"

In [97]:
pd.read_csv(StringIO(csv_str))

   Col1  Col2  Col3
0     1     2     3
1     4     5     6
2     7     8     9

In [103]:
df=pd.read_csv(StringIO(csv_str),usecols=['Col2','Col3'])

In [104]:
type(df)

pandas.core.frame.DataFrame

In [111]:
df

   Col2  Col3
0     2     3
1     5     6
2     8     9

In [112]:
df.to_csv('sample.csv')

In [113]:
read_to_csv_file=pd.read_csv('sample.csv')

In [114]:
read_to_csv_file

   Unnamed: 0  Col2  Col3
0           0     2     3
1           1     5     6
2           2     8     9

In [116]:
string="COl1,Col2,Col3\n10,20,30\n40,50,60\n70,80,90"

In [127]:
a=pd.read_csv(StringIO(string),dtype=object)

In [128]:
a

  COl1 Col2 Col3
0   10   20   30
1   40   50   60
2   70   80   90

In [130]:
a['Col2'][1]

'50'

In [131]:
type(a['Col2'][1])

str

In [132]:
b=pd.read_csv(StringIO(string),dtype=int)

In [133]:
b['Col2'][1]

50

In [134]:
type(b['Col2'][1])

numpy.int32

In [153]:
data=('Index,Fruit,Animal\n'
        '5,mango,dog\n'
        '10,apple,cow\n')

In [154]:
a=pd.read_csv(StringIO(data))

In [155]:
a

   Index  Fruit Animal
0      5  mango    dog
1     10  apple    cow

In [164]:
b=pd.read_csv(StringIO(data),index_col=0)

In [165]:
b

       Fruit Animal
Index
5      mango    dog
10     apple    cow

In [168]:
description='Col1,COl2\nMy name is \\"Kruthik"\\, and i am a \\"AIML ENGINEER",52000'

In [169]:
pd.read_csv(StringIO(description),escapechar='\\')

                                               Col1   COl2
0  My name is "Kruthik", and i am a "AIML ENGINEER"  52000

In [173]:
df=pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',sep='\t')

HTTPError: HTTP Error 403: Forbidden